@model IEnumerable<Library.Models.dbo.Product>

@{
    ViewData["Title"] = "Home Page";
}

@if (Model.Count() > 0)
{

    <div class="row row-cols-1">
        @foreach (var product in Model)
        {
            <div class="col-md-4 mb-3">
                <div class="card h-100 item">
                    @if (!product.Availability)
                    {
                        <span class="notify-badge bg-danger">Out of Stock</span>
                    }
                    else
                    {
                        <span class="notify-badge bg-success">In Stock</span>
                    }
                    @if (string.IsNullOrWhiteSpace(product.ImageUrl))
                    {

                        <img src="~/images/noimage.png" class="card-img-top p-2">
                    }
                    else
                    {
                        <img src="@product.ImageUrl" class="card-img-top p-2">
                    }

                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text"><i class="fa fa-rupee"></i>&nbsp;@product.Price.ToString("0.00")</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a asp-action="Upsert" asp-controller="Product" class="btn btn-sm btn-outline-primary" asp-route-id="@product.Id">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

}
else
{
    <h3>Welcome..</h3>
}
